<div>
  <h1>Photomosaic Page</h1>

  <button value='Reset'><a href='/'>Reset</a></button>
  <form id='myForm' method='POST' action='/uploads' enctype="multipart/form-data" style='float:right;'>
    <input type='file' name='file' required/>

    <button id="submit" type='submit'>Upload</button>
  </form>

</div>
